all-users
<a routerLink="/singleUser" routerLinkActive="active">singleUser</a>
<div class="uk-text-center">
    <h1>All Users</h1>
    <input type="text" placeholder="Enter pet owner's name">
    <button>Add</button>
    <hr>

    <table class="uk-table uk-table-hover uk-text-left">
        <caption>
            <div class="uk-text-left">
                <span>Total count:{{totalCount}}</span>
            </div>
        </caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Pet's count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>andreev</td>
                <td>1</td>
            </tr>
            <tr>
                <td>bakay</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
    <div>1,2,3</div>
</div>